PORT=3000

# JWT Configuration
JWT_SECRET=tu_secreto_super_seguro_cambialo_en_produccion

# Database Configuration
DB_HOST=tuhost_de_base_de_datos
DB_PORT=puerto_de_base_de_datos
MYSQL_USER=root
MYSQL_PASSWORD=tu_contraseña
MYSQL_DB=tu_base_de_datos

DB_PORT=3306